*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    /* background-color: rgb(22, 22, 22); */
    /* background: linear-gradient(90deg, orange, white); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 1200px; */
    margin: 0 auto;
}

header{
    padding: 20px 80px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url("./image/1425.png"); */
    /* background-color: #172554; */
    background: linear-gradient(180deg, #1d4ed8, #172554);
    border: 1px solid;
    border-radius: 50px;
    border-color: cyan;
    padding: 10px;
}

ul{
    display: flex;
    gap: 60px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    opacity: 0.8;
}

.button0{
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    /* background-image: url("./image/4509.png"); */
    background-color: cyan;
    cursor: pointer;

}

.button0 a{
    color: white;
    font-weight: bold;
}
.button1{
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    /* background-image: url("./image/4509.png"); */
    background-color: cyan;
    color: white;
    cursor: pointer;
}
.button2{
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    /* background-image: url("./image/1425.png"); */
    background: linear-gradient(180deg, #1d4ed8, #172554);
    color: white;
    cursor: pointer;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 80px;
}

.content{
    width: 450px;
}
.content h1{
    font-size: 30px;
    opacity: 0.8;
    color: gray;
}
.content h2{
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0;
}
.content p{
    color: gray;
    margin: 20px 0;
    width: 80%;
}

.picture{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.picture img{
    width: 500px;
    height: 500px;
    border-radius: 100%;
}
.card{
    position: absolute;
    width: 150px;
    padding: 20px;
    border: solid 1px rgba(0, 0, 255, 0.53);
    border-radius: 20px;
    /* background-image: url("../image/4509.png"); */
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
}
.card1{
    top: 40px;
    left: 0px;
}
.card2{
    top: 10px;
    right: 0px;
}
.card3{
    bottom: 40px;
    left: 0px;
}
.card4{
    bottom: 0px;
    right: 0px;
}

@media (max-width: 900px) {
    body {
        width:1200px;
    }

    h1 {
        font-size: 24px;
    }
    .picture img {
        width: 300px;
    }
}
body{
    /* background-color: black; */
    /* background: linear-gradient(180deg, black, rgb(0, 0, 147)); */
    /* background-image: url("./image/58783.png"); */
    color: white;
    font-family: Arial, sans-serif;
    /* width: 1200px; */
}
header{
    margin-top: 20px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.me{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    /* justify-content: space-between; */
    /* padding: 70px 70px; */
}

.left-container{
    width: auto;
    height: 600px;
    /* background-image: url(./image/1425.png); */
    background: linear-gradient(180deg, #1d4ed8, #172554);
    border-radius: 30px;
    border: 1px solid cyan;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-container img{
    width: 350px;
    height: 350px;
    border-radius: 30px;
    display: flex;
}
.bottom-left-container{
    justify-content: center;
    align-items: center;
}
.bottom-left-container h2{
    /* padding-left: 80px;
    padding-bottom: 20px; */
    margin: 20px;
    display: flex;
    justify-content: center;
    /* padding-left: 80px; */
    font-size: xx-large;
}
.bottom-left-container p{
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
   margin-left: 100px;
   margin-top: 30px;
   padding: 10px 15px;
   background-color: cyan;
   border-radius: 40px;
   border-color: cyan;
   cursor: pointer;
}

.top-right-container{
    margin-top: 60px;
    width: auto;
    height: 260px;
    padding-inline: 20px;
    padding-top: 10px;
    border-radius: 30px;
    border: 1px solid cyan;
    /* background-image: url(./image/1425.png); */
    background: linear-gradient(180deg, #1d4ed8, #172554);
    justify-content: center;
}
.top-right-container h2{
   font-size: xx-large;
   font-weight: bold;
}
.p1{
    padding-top: 10px;
}
.p2{
    padding-top: 30px;
}

.middle-right-container{
    margin-top: 10px;
    width: auto;
    height: 100px;
    border-radius: 30px;
    border: 1px solid cyan;
    /* background-image: url(./image/1425.png); */
    background: linear-gradient(180deg, #1d4ed8, #172554);
    display: flex;
    flex-wrap: nowrap;

}
.middle-right-container h2{
    padding-top: 40px;
    padding-left: 20px;

}
.logo{
    font-size: 1.2cm;
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 10px;
}
.icon1{
    padding-left: 20px;
}

.bottom-right-container{
    margin-top: 10px;
    width: auto;
    height: 270px;
    border-radius: 30px;
    border: 1px solid cyan;
    background: linear-gradient(180deg, #1d4ed8, #172554);
    /* background-image: url(./image/1425.png); */
}
.bottom-right-container h2{
   padding-top: 20px;
   padding-left: 20px;
}

.list{
    display: flex;
    margin: 10px;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.list2{
    display: flex;
    margin: 10px;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.list3{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


/* PROJECT STYLE CSS */

.project-bg-1{
    background-image: url("./image/01\ \(1\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project-bg-2{
    background-image: url("./image/01\ \(2\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project-bg-3{
    background-image: url("./image/01\ \(3\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}